#main {
    display: flex;
    flex-direction: column;
}

#footer {
    text-align: center;
    margin-top: 35px;
    margin-bottom: 15px;
}

div {
    margin: 0 25px;
}

h1 {
    font-size: 3em;
}

ul {
    margin-bottom: 50px;
}

li {
    margin-bottom: 10px;
}

#title, #tribute-info h2 {
    text-align: center;
}

#tribute-info p {
    text-align: center;
    font-size: 1.5em;
    margin: 25px 0 25px 0;
}

#tribute-info {
    align-self: center;
    max-width: 80%;
}

#img-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
}

#image {
    max-width: 90%;
    height: auto;
    margin-bottom: 10px;
    align-self: center;
}

#img-caption {
    text-align: center;
}