#main {
    display: flex;
    flex-direction: column;
}

div {
    margin: 0 25px;
    min-width: 300px;
}

#title {
    text-align: center;
}

#img-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#img-caption {
    text-align: center;
}