#main {
    display: flex;
    flex-direction: column;
}

div {
    margin: 0 25px;
    min-width: 300px;
}

li {
    margin-bottom: 10px;
}

#title, #tribute-info h2 {
    text-align: center;
}

#tribute-info p {
    text-align: center;
    font-size: 1.5em;
    margin: 25px 0 25px 0;
}

#img-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
}

#image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

#img-caption {
    text-align: center;
}